@media screen and (min-width:768px){

    body {
        background-image: url(pictures/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        text-shadow: 2px 2px rgb(100, 61, 2);
    }

    .flex-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }

    .flex-container > p {
        border-radius: 1rem;
        background-color: rgb(220, 198, 169);
        font-size: 2rem;
        padding: 0.8rem;
        margin: 2px;
        transition: font-size 0.7s, background-color 0.7s, transform 0.7s;
        text-align: center;
        border-style: solid;
        border-color: rgb(87, 56, 6);
        text-shadow: 2px 2px black;
    }

    p:hover {
        font-size: 3.5rem;
        background-color: brown;
    }

    a {
        color: beige;
        text-decoration: none;
    }

    .titleBorder {
        border-style: solid;
        border-color: rgb(87, 56, 6);
        border-width: 5px;
        padding: 1rem;
        background: url(pictures/wheat.jpg);
    }

    .buttonMain {
        border-radius: 1rem;
        background-color: gainsboro;
        font-size: 2rem;
        border-style: solid;
        border-color: rgb(65, 48, 20);
        margin: 0 auto;
        display: block;
        transition-duration: 0.3s;
        padding: 1rem;
    }

    .buttonMain:hover {
        background-color: rgb(111, 25, 25);
        color: white;
    }

    .textContent {
        border-radius: 1rem;
        border-style: solid;
        padding: 1rem;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: azure;
        text-shadow: 1px 1px black;
        background-color: rgba(67, 54, 37, 0.5);
    }

    #hiddenText {
        border-radius: 1rem;
        border-style: solid;
        padding: 1rem;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: azure;
        text-shadow: 1px 1px black;
        background-color: rgba(67, 54, 37, 0.5);
    }

    #buttonAnka {
        border-radius: 0.5rem;
        margin: 0 auto;
        display: block;
        margin-top: 0.5rem;
        transition-duration: 0.3s;
    }

    #buttonAnka:hover {
        background-color: black;
        color: white;
    }

    #buttonAnkaText {
       text-align: center;
       margin-top: 5px;
       color: aliceblue;
       text-shadow: 1px 1px black;
    }
}