/* Använder detta styling doc om bredd är mindre än 768px */
@media  screen and (max-width: 767px) {

    /* Sätter regler för bakgrund för hela bodyn (täcka skärm + no dupe) */
    body {
        background-image: url(pictures/landscape.jpg);
        background-repeat: no-repeat; /* duplicerar inte bakgrunden om den tar slut */
    }

    /* Bestämmer hur headern ska se ut, position, storlek och skugga */
    h1 {
        text-align: center;
        font-size: 3rem;
        text-shadow: 2px 2px rgb(100, 61, 2);   
    }

    /* settings för main headern */
    .titleBorder {
        border-style: solid;
        border-color: rgb(87, 56, 6);
        border-width: 5px;
        padding: 0.5rem;
        background: url(pictures/barn.jpg);
    }
    
    /* stylar om alla hyperlänkar */
    a {
        color: beige;
        text-decoration: none;
    }

    /* flexbox settings för navigering på index.html */
    .flex-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center; /* Ändrar main raden dvs ROW här (flex är row by default) "main" */
        align-items: center; /* Ändrar sub raden dvs COLUMN här "cross" */
        height: 1rem;
        margin-bottom: 5rem;
    }

    /* settings för alla paragrapher inom flex-container */
    .flex-container > p {
        border-radius: 0.5rem;
        background-color: rgb(212, 188, 153);
        font-size: 1.5rem;
        padding: 0.4rem; /* Mellanrummet inom en "box" */
        margin: 2px; /* Mellanrummet mellan boxarna */
        text-align: center;
        border-style: solid;
        border-color: rgb(87, 56, 6);
        text-shadow: 2px 2px black;  
    }

    /* flexbox settings för bilderna på index.html */
    .flex-container-pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Ändrar main raden dvs ROW här (flex är row by default) "main" */
        align-items: center; /* Ändrar sub raden dvs COLUMN här "cross" */
        margin-top: 2rem;
    }

    /* settings för all div's inom flex-container-pictures */
    .flex-container-pictures > div {
        margin: -2rem;
        scale: 0.7;
    }

    /* settings för huvudknappen (trivian med funktioner) på alla sidor utom index.html */
    .buttonMain {
        display: block; /* visar elementet som ett block, börjar på ny rad och tar upp en hel width */
        border-radius: 0.5rem;
        background-color: antiquewhite;
        font-size: 1.5rem;
        border-style: solid;
        border-color: rgb(65, 48, 20);
        margin: auto; /* Centrerar eftersom att vi använder block för att ta upp en hel rad */
        padding: 0.5rem;
    }

    /* settings för brödtexten på varje sida */
     .textContent {
        border-radius: 0.5rem;
        border-style: solid;
        padding: 0.5rem;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: azure;
        text-shadow: 1px 1px black;
        background-color: rgba(67, 54, 37, 0.5);
    }

    /* settings för alla bilder utom dem på index.html, centrerar */
    .bildDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    /* bordersettings för hint knappen på anka.html */
    #buttonAnka {
        border-radius: 0.5rem;
        margin: auto;
        display: block;
        margin-top: 0.5rem;
    }

    /* flexbox settings för snabbnavigeringen längst ner på alla sidor utom index.html */
    .flex-container-menu {
        flex-wrap: wrap;
        display: flex;
        justify-content: center; /* Ändrar main raden dvs ROW här (flex är row by default) "main" */
        align-items: center; /* Ändrar sub raden dvs COLUMN här "cross" */
    }

    /* settings för alla paragrapher inom flex-container-menu */
    .flex-container-menu > p {
        color: aliceblue;
        background-color: darkgreen;
        font-size: 1rem;
        padding: 0.2rem; /* Mellanrummet inom en "box" */
        margin: 1px; /*Mellanrummet mellan boxarna */
        text-align: center;
        border-style: solid;
        border-color: black;
        text-shadow: 1px 1px black;
        margin-top: 2rem;
    }

}